body {
  font-size: 20px;
  color: #fff;
  background-color: #FFF;
  font-family: 'Roboto', sans-serif;
} 
section {
  border: 1px solid grey;
  height: 100%;
  margin: 20px;
  background-color: #95AFCC;
}

p {
  padding: 10px;

  font-size:large;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #95AFCC;
  overflow: auto;
   text-shadow: 1px 1px 1px #222;
   
}

#chicken {
 background-color: #95AFCC;
  text-align: center;
  padding:5px;
  font-size: 1.5em;
  color:#FFF;
  text-shadow: 2px 2px 2px #222;
}

#beef {
  background-color: #95AFCC;
  text-align: center;
  padding:5px;
  font-size: 1.5em;
  color:#FFF;
  text-shadow: 2px 2px 2px #222;
}

#sushi {
  
  background-color: #95AFCC;
  text-align: center;
  padding:5px;
  font-size: 1.5em;
  color:#FFF;
  text-shadow: 2px 2px 2px #222;
 

}
.row {
  width: 100%;


}

/*Desktop*/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
}
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/*Mobile*/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
   
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
}
}

#menu {
	font-size: 40px;
   font-weight: bold;
	color: #95AFCC;
text-shadow: 1px 1px 1px black;
	 font-family: 'Baloo Bhai', cursive;
}


  /** Header **/
  #header-nav {
	background-color: #95AFCC;
	border-radius: 2px;
	border: 3px;
	border-style: ridge;
	padding: 10px;

  }
  
  .navbar-brand h1 { /* Food, LCC */
  font-family: 'Baloo Bhai', cursive;
  color: #EBFF6D;
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #fff;

}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}

#nav-list {
  margin-top: 10px;
   font-weight: bold;

}
#nav-list a {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #222

}
#nav-list a:hover {
  background: #EBFF6D;

}
#nav-list a span {
  font-size: 2em;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}

/********** Extra small devices only **********/
@media (max-width: 767px) {




#collapsable-nav a {
	font-size: 1.4em;
}

#collapsable-nav a span{
	font-size: 1.3em;
    margin-right: 5px;
}



}



